.contacts {
  // display: none !important;

  @include content-padding-inline;

  background-color: #2c2c2c;

  &__grid-container {
    display: grid;

    @include page-grid;
  }

  &__message {
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/6;
    }

    @include on-desktop {
      grid-column: 1/6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__email {
    height: 41px;

    border: none;
    outline: none;

    border-bottom: 1px solid #fff;
    margin-bottom: 48px;
    background-color: #2c2c2c;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      color: #fff;
    }

    &:focus {
      border-bottom: 1px solid #144ed4;
    }
  }

  &__name {
    height: 41px;

    border: none;
    outline: none;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      color: #fff;
    }

    border-bottom: 1px solid #fff;
    margin-bottom: 48px;
    background-color: #2c2c2c;

    &:focus {
      border-bottom: 1px solid #144ed4;
    }
  }

  &__input {
    height: 41px;

    border: none;
    outline: none;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0;
    color: #fff;

    &::placeholder {
      font-family: Poppins, sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0;
      color: #fff;
    }

    border-bottom: 1px solid #fff;
    margin-bottom: 80px;
    background-color: #2c2c2c;

    &:focus {
      border-bottom: 1px solid #144ed4;
    }
  }

  &__form-button {
    width: 264px;
    height: 56px;
    border-radius: 8px;

    background-color: #144ed4;

    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 15px;

    line-height: 100%;
    letter-spacing: 0;

    color: #fff;

    cursor: pointer;

    border: none;

    &:hover {
      box-shadow: 1px 4px 16px 0 #e8e8f066;
    }
  }

  &__information {
    padding-top: 80px;

    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/5;
      padding-top: 120px;
    }

    @include on-desktop {
      padding-top: 0;
      grid-column: 7/12;
    }

    @include on-big-desktop {
      grid-column: 8/13;
    }
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: 0;

    color: #fff;
  }

  &__phone {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color: #fff;
  }

  &__phone-number {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;

    text-decoration: none;

    color: #fff;

    &:hover {
      color: #144ed4;
    }
  }

  &__visit-us {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color: #fff;
  }

  &__adress {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;

    text-decoration: none;

    color: #fff;

    &:hover {
      color: #144ed4;
    }
  }

  &__our-socials-title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-transform: uppercase;

    opacity: 0.5;

    color: #fff;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: white;
    transition: fill 0.3s ease;
  }

  &__social-icon {
    margin-right: 32px;
  }

  padding-top: 72px;

  @include on-tablet {
    padding-top: 180px;
  }
}

.contacts__social-icon:hover .contacts__icon {
  fill: #144ed4;
}
