$c-gray: #eee;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$big-desktop-min-width: 1600px;
$large-desktop-min-width: 2560px;
$text-main-black-color: #253757;
$text-main-grey-color: #6c788b;
